
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


@import '~vuetify/dist/vuetify.min.css'; 
// Variables
/*@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
